*{
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
	margin-top: 40px;
	margin-bottom: 30px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: Comic Sans MS, Comic Sans, cursive;

}
h1{
	text-align: center;
	margin-bottom: 33px;
}
div.big{
	background-color: grey;
	border-color: black;
	border-style: solid;
	width: 90%;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	padding: 33px 10px 10px 10px;
}
div.small
{
	border-color: black;
	border-style: solid;
	border-width: 0px 0px 2px 2px;
	width: 33.33%;
	height: 30px;
	text-align: center;
	font-weight: bold;
	position: absolute;
	top: 0;
	right: 0;
	
}
.small.red
{
	background-color: red;
	color: white;
}
.small.pink
{
	background-color: pink;
}
.small.yellow
{
	background-color: yellow;
}
.row{
	width: 100%;
}
@media (min-width: 992px){
	.col-lg-4 {
	float: left;
    width: 33.33%;
  }

}
@media (min-width: 768px) and (max-width: 991px){

	.col-md-6{
		float: left;
		width: 50%;
	}
	.col-md-12{
		width:100%;

}